/* Style Sheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #f7b600;
    --secondary-color: #202736;
    --paragraph-color: #f5f5f5;
    --chart-background: #eef2f5;
  }

/* Report Background */
.embed-preview,
.mode-embed {
  background-color: var(--secondary-color);
}

/* Report Logo */
.mode-embed .mode-header .logo {
  text-align: right;
  margin-bottom: 2rem;
}

/* Report Header */
.mode-embed .mode-header h1 {
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase; 
}

/* Report Header Paragraph */
.mode-embed .mode-header p {
  color: var(--paragraph-color);
  font-weight: 500;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Report Text Header */
.editor-chart.mode-object.text-block-container .ql-editor h1, 
.editor-chart.mode-object.text-block-container .ql-editor h2, 
.editor-chart.mode-object.text-block-container .ql-editor h3, 
.editor-chart.mode-object.text-block-container .ql-editor h4, 
.editor-chart.mode-object.text-block-container .ql-editor h5, 
.editor-chart.mode-object.text-block-container .ql-editor h6, 
mode-text .ql-editor h1, 
mode-text .ql-editor h2, 
mode-text .ql-editor h3, 
mode-text .ql-editor h4, 
mode-text .ql-editor h5, 
mode-text .ql-editor h6 {
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

/* Report Text Paragraph */
.editor-chart.mode-object.text-block-container .ql-editor p, 
.editor-chart.mode-object.text-block-container .ql-editor ol, 
.editor-chart.mode-object.text-block-container .ql-editor ul, 
mode-text .ql-editor p, 
mode-text .ql-editor ol, 
mode-text .ql-editor ul {
  color: var(--paragraph-color);
  font-family: 'Roboto', sans-serif;\
}


/* Chart Background */
.mode-embed .mode-object {
  background: var(--chart-background);
  border-radius: 0.5rem;
}

.mode-embed .mode-object:hover {
  border-color: var(--primary-color);
}

/* Big Nummber Header */
.mode-object.big-number .chart-title .in-place-edit-text, 
.embed-preview .mode-object.big-number .chart-title .in-place-edit-text {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/* Chart Header */
.editor-table .chart-header .in-place-edit-text, 
.editor-chart .chart-header .in-place-edit-text {
  color: var(--secondary-color);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

/* Chart Legend */
.highcharts-legend .highcharts-legend-title text, 
.highcharts-legend .highcharts-legend-item text, 
.highcharts-legend .highcharts-legend-item text tspan {
    font-family: 'Roboto', sans-serif;
}

/* Twitter Sytling */
.twitter_container {
  display: flex;
}

.twitter-tweet {
  max-width:none;
}
