/* Set the primary brand color */
body {
  background-color: #F7F7F0;
}

/* Set the main font family and size */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  font-family: sofia-pro,Arial,san-serif;
;
  font-size: 17px;
}

/* Set the font color for headings */
h1, h2, h3, h4, h5, h6 {
  color: #053349;
}

/* Set the font color for regular text */
p {
  color: #053349;
}

/* Set the font color and size for links */
a {
  color: #053349;
  element.style {
}
<style>
:root {
    --swiper-navigation-size: 44px;
}
<style>
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0,0%,100%,.7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}
#__next, #__next>main, body, html {
    height: 100%;
    width: 100%;
}
a, a.active, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: sofia-pro,Arial,san-serif;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
  font-size: 16px;
}

/* Set the font color for buttons */
.btn-primary {
  color: #ffffff;
  background-color: #2091b9;
  border-color: #2091b9;
}

/* Set the font color for button text */
.btn-primary:hover {
  color: #ffffff;
  background-color: #176d87;
  border-color: #176d87;
}
