  @font-face {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
  }

   :root {
    --series-1: #FF5630;
    --series-2: #FFAB00;
    --series-3: #36B37E;
    --series-4: #00B8D9;
    --series-5: #6554C0;
  }
  /* Now, let's apply it on an element */

  body {
    background-color: #FFFFFF;
    font-family: Source Sans Pro !important;
  }
  /* Report Layout */

  .mode-grid.container {
    margin-bottom: 32px;
  }
  
  /* Chart Backgrounds */
  .mode-embed .mode-object.editor-chart {
    background-color: #ffffff;
    border-radius: 3px;
  }

  .mode-embed .mode-object.editor-table {
    background-color: : #ffffff;
    border-radius: 3px;
  }

/* ===============================
   Gutters
=============================== */

  .chart-container-component {
    padding: 8px;
  }

/* ===============================
   Fonts
=============================== */
  /*Report title*/

  .mode-embed .mode-header h1 {
    color: #FFFFFF;
    margin-bottom: 0;
    font-size: 29px;
    font-weight: 500;
    letter-spacing: -0.01em;
  }
  /*Report description*/

  .mode-embed .mode-header p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.006em;
    margin-top: 20px;
  }
  /* Titles */

  .mode-object.big-number .chart-title .in-place-edit-text,
  .embed-preview .mode-object.big-number .chart-title .in-place-edit-text,
  .editor-table .chart-header,
  .editor-chart .chart-header {
    color: #172B4D;
    font-size: 14px;
    font-weight: 500;
  }

  .mode-object.big-number .chart-title {
    text-align: left !important;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }

  .mode-object.big-number .chart-content {
    height: 160px;
  }
  /* Descriptions */

  .mode-object .chart-title.chart-description .in-place-edit-text,
  .mode-embed .mode-object .chart-title.chart-description .in-place-edit-text {
    color: #172B4D;
    font-size: 14px;
    font-weight: 500;
  }

/* ===============================
   Tables
=============================== */

  .mode-table-grid th {
    background: none;
    color: #5E6C84;
    font-size: 12px;
    font-weight: 500;
  }
  
  .js-table-header-container {
    border-bottom: 2px solid #C1C7D0;
  }
  
  .mode-table-grid td {
    border: none !important;
    color: #172B4D !important;
    font-size: 12px !important;
    font-family: "system" !important;
  }
  
  .js-table-content-container tbody > tr > th {
    visibility: hidden;
  }
  
  mode-table .chart-content {
    width: calc(100% - 16px) !important;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 3px;
    margin-top: 8px;
  }
  
  mode-table > div {
    background: #0052CC !important;
    border: none !important;
  }
  
/* ===============================
   Filter Panel
=============================== */

.filter-panel-action{
    border: 1px solid #38D9C5;
    box-sizing: border-box;
    border-radius: 100px;
    color:#38D9C5;
}

.filters-container{
  background: white !important;
}

.action-reset {
  border:none !important;
  color:#38D9C5 !important;
}


/* ===============================
   Tooltips
=============================== */
  /* Tooltip */

  div.nvtooltip.xy-tooltip {
    border: none;
    background-color: white;
    color: #172B4D;
    font-weight: 300;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  }
  /* Legend color */

  td div {
    border: none !important;
    border-radius: 50%;
  }

  text {
    fill: #172B4D !important;
    font-size: 12px !important;
    font-family: "system" !important;
  }
  /*Bar charts*/
  .nv-multiBarWithLegend .nv-group:nth-child(5n + 1) rect { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  .nv-multiBarWithLegend .nv-group:nth-child(5n + 2) rect { fill: var(--series-2) !important; stroke: var(--series-2) !important; }
  .nv-multiBarWithLegend .nv-group:nth-child(5n + 3) rect { fill: var(--series-3) !important; stroke: var(--series-3) !important; }
  .nv-multiBarWithLegend .nv-group:nth-child(5n + 4) rect { fill: var(--series-4) !important; stroke: var(--series-4) !important; }
  .nv-multiBarWithLegend .nv-group:nth-child(5n + 5) rect { fill: var(--series-5) !important; stroke: var(--series-5) !important; }

  .nv-multiBarWithLegend .nv-series:nth-child(5n + 1) circle { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  .nv-multiBarWithLegend .nv-series:nth-child(5n + 2) circle { fill: var(--series-2) !important; stroke: var(--series-2) !important; }
  .nv-multiBarWithLegend .nv-series:nth-child(5n + 3) circle { fill: var(--series-3) !important; stroke: var(--series-3) !important; }
  .nv-multiBarWithLegend .nv-series:nth-child(5n + 4) circle { fill: var(--series-4) !important; stroke: var(--series-4) !important; }
  .nv-multiBarWithLegend .nv-series:nth-child(5n + 5) circle { fill: var(--series-5) !important; stroke: var(--series-5) !important; }
  
  /*Line charts*/
  .nv-lineChart .nv-group:nth-child(5n + 1) { stroke: var(--series-1) !important; }
  .nv-lineChart .nv-group:nth-child(5n + 2) { stroke: var(--series-2) !important; }
  .nv-lineChart .nv-group:nth-child(5n + 3) { stroke: var(--series-3) !important; }
  .nv-lineChart .nv-group:nth-child(5n + 4) { stroke: var(--series-4) !important; }
  .nv-lineChart .nv-group:nth-child(5n + 5) { stroke: var(--series-5) !important; }

  .nv-lineChart .nv-scatter .nv-group:nth-child(5n + 1) { fill: var(--series-1) !important; }
  .nv-lineChart .nv-scatter .nv-group:nth-child(5n + 2) { fill: var(--series-2) !important; }
  .nv-lineChart .nv-scatter .nv-group:nth-child(5n + 3) { fill: var(--series-3) !important; }
  .nv-lineChart .nv-scatter .nv-group:nth-child(5n + 4) { fill: var(--series-4) !important; }
  .nv-lineChart .nv-scatter .nv-group:nth-child(5n + 5) { fill: var(--series-5) !important; }

  .nv-lineChart .nv-series:nth-child(5n + 1) circle { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  .nv-lineChart .nv-series:nth-child(5n + 2) circle { fill: var(--series-2) !important; stroke: var(--series-2) !important; }
  .nv-lineChart .nv-series:nth-child(5n + 3) circle { fill: var(--series-3) !important; stroke: var(--series-3) !important; }
  .nv-lineChart .nv-series:nth-child(5n + 4) circle { fill: var(--series-4) !important; stroke: var(--series-4) !important; }
  .nv-lineChart .nv-series:nth-child(5n + 5) circle { fill: var(--series-5) !important; stroke: var(--series-5) !important; }
  
  /*Area charts*/
  .nv-stackedAreaChart .nv-area:nth-child(5n + 5) { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  .nv-stackedAreaChart .nv-area:nth-child(5n + 4) { fill: var(--series-2) !important; stroke: var(--series-2) !important; }
  .nv-stackedAreaChart .nv-area:nth-child(5n + 3) { fill: var(--series-3) !important; stroke: var(--series-3) !important; }
  .nv-stackedAreaChart .nv-area:nth-child(5n + 2) { fill: var(--series-4) !important; stroke: var(--series-4) !important; }
  .nv-stackedAreaChart .nv-area:nth-child(5n + 1) { fill: var(--series-5) !important; stroke: var(--series-5) !important; }
  
  .nv-stackedAreaChart .nv-scatter .nv-group:nth-child(5n + 5) { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  .nv-stackedAreaChart .nv-scatter .nv-group:nth-child(5n + 4) { fill: var(--series-2) !important; stroke: var(--series-2) !important; }
  .nv-stackedAreaChart .nv-scatter .nv-group:nth-child(5n + 3) { fill: var(--series-3) !important; stroke: var(--series-3) !important; }
  .nv-stackedAreaChart .nv-scatter .nv-group:nth-child(5n + 2) { fill: var(--series-4) !important; stroke: var(--series-4) !important; }
  .nv-stackedAreaChart .nv-scatter .nv-group:nth-child(5n + 1) { fill: var(--series-5) !important; stroke: var(--series-5) !important; }

  .nv-stackedAreaChart .nv-series:nth-child(5n + 5) circle { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  .nv-stackedAreaChart .nv-series:nth-child(5n + 4) circle { fill: var(--series-2) !important; stroke: var(--series-2) !important; }
  .nv-stackedAreaChart .nv-series:nth-child(5n + 3) circle { fill: var(--series-3) !important; stroke: var(--series-3) !important; }
  .nv-stackedAreaChart .nv-series:nth-child(5n + 2) circle { fill: var(--series-4) !important; stroke: var(--series-4) !important; }
  .nv-stackedAreaChart .nv-series:nth-child(5n + 1) circle { fill: var(--series-5) !important; stroke: var(--series-5) !important; }
  
  /*Pie chart*/
  .nv-pieChart .nv-slice:nth-child(5n + 2) path { fill: var(--series-1) !important; }
  .nv-pieChart .nv-slice:nth-child(5n + 4) path { fill: var(--series-2) !important; }
  .nv-pieChart .nv-slice:nth-child(5n + 1) path { fill: var(--series-3) !important; }
  .nv-pieChart .nv-slice:nth-child(5n + 3) path { fill: var(--series-4) !important; }
  .nv-pieChart .nv-slice:nth-child(5n + 5) path { fill: var(--series-5) !important; }

  .nv-pieChart .nv-series:nth-child(5n + 2) circle { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  .nv-pieChart .nv-series:nth-child(5n + 4) circle { fill: var(--series-2) !important; stroke: var(--series-2) !important; }
  .nv-pieChart .nv-series:nth-child(5n + 1) circle { fill: var(--series-3) !important; stroke: var(--series-3) !important; }
  .nv-pieChart .nv-series:nth-child(5n + 3) circle { fill: var(--series-4) !important; stroke: var(--series-4) !important; }
  .nv-pieChart .nv-series:nth-child(5n + 5) circle { fill: var(--series-5) !important; stroke: var(--series-5) !important; }
  
  /*Line + bar charts*/
  .nv-linePlusBar .nv-bars rect { fill: var(--series-3) !important; stroke: none !important; }
  .nv-linePlusBar .nv-line path { stroke: var(--series-1) !important; }
  
  .nv-linePlusBar .nv-scatter .nv-group { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  .nv-linePlusBar .nv-series:nth-child(5n + 2) circle { fill: var(--series-1) !important; stroke: var(--series-1) !important; }
  
  
  .editor-chart{
    border-top: 5px solid transparent !important;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
   .editor-chart:hover{
    position:sticky;
    border-top: 5px solid #38D9C5 !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .mode-object.big-number .chart-title{
    text-align:center !important;
  }