/* CUSTOM FONT */

/* THIS IS WHERE WE WOULD CHANGE THE FONT STYLE, IF WE WANTED TO INCLUDE ANIMAL CROSSING STYLE TEXT*/
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

/* CUSTOM FONT DETAILS
font-family: 'Metropolis', sansserif;
 */
 

/* Brand colors */
/* Variable declarations not supported in Edge or Android browsers: http://caniuse.com/#feat=css-variables */
:root {
    --cyan: rgb(24, 204, 225);
  --purple: rgb(137, 95, 216);
--gray-400: #D6D9DE;
--gray-500: #C9CAD1;
--gray-600: #B1B3BA;
--gray-700: #63656E;
--gray-800: #53535C;
--gray-950; #19193B;
--brand-primary: #ff4458;
--brand-primary-a11y: #d6002f;
--brand-gradient-start: #fd267a;
--brand-gradient-end: #ff6036;
}

/* Background color */
body,
body.mode-embed.embed-preview.ng-scope,
.report-view-container {
  background-color: #ffffff !important; 
}

/* Chart Backgrounds */
.mode-embed .mode-object.editor-chart {
  background-color: #bababa;
  border: 8px solid #040404;
  border-radius: 6px;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
  }
}

/* Gutters */
.editor-module.editor-chart.mode-object.editor-multi.ng-scope {
  margin: 0;
}
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  padding: 0;
}
.editor-module.editor-chart.mode-object.editor-multi.big-number.ng-scope.is-report-mode,
.editor-module.editor-chart.mode-object.editor-multi.ng-scope {
  border: 0;
  margin: 1px;
}
div.row {
  margin-bottom: 2px;
}
.mode-grid.container {
  margin-bottom: 32px;
}

/* FONTS */
/* Use custom font for everything but chart info */
.mode-embed .mode-header,
.mode-embed .mode-header h1,
.mode-object.big-number .chart-title .in-place-edit-text,
.embed-preview .mode-object.big-number .chart-title .in-place-edit-text,
.editor-table .chart-header,
.editor-chart .chart-header,
span.fb-content.ng-binding,
span.trend-value.ng-binding {
  font-family: 'Metropolis', sansserif ;
}
text.nv-legend-text,
.chart-svg .nv-x text,
.chart-svg .nv-y text,
.nvtooltip.xy-tooltip {
  font-family: "Metropolis", sans-serif;
}

/*Report title*/
.mode-embed .mode-header h1 {
  color: var(--brand-primary);
  margin-bottom: 0;
  font-weight: 600;
}

/*Report description*/
.mode-embed .mode-header p {
  color: var(--gray-400);
  margin-bottom: 32px;
  margin-top: 0;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 300;
}

/* Chart Titles */
/*.in-place-edit .in-place-edit-text,*/
/*.in-place-edit-text.ng-binding*/
.in-place-edit-text,
.embed-preview .mode-object.big-number .chart-title .in-place-edit-text,
.mode-object.big-number .chart-title .in-place-edit-text {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: var(--brand-primary-a11y);
}
.chart-content:hover .in-place-edit-text.ng-binding {
  color: var(--brand-primary-a11y);
}
/*.chart-title,*/
.chart-header.ng-scope {
  padding-top: 10px;
}

/* Big Number Descriptions */
.mode-object .chart-title.chart-description .in-place-edit-text,
.mode-embed .mode-object .chart-title.chart-description .in-place-edit-text {
  font-size: 12px;
  line-height: 12px;
  margin-top: 4px;
  color: var(--gray-600);
  text-transform: uppercase;
  font-family: "Metropolis", sans-serif;
}

/* Big Number */
span.fb-content.ng-binding {
  color: var(--brand-primary);
}
/* Big Number Trend */
span.trend-value.ng-binding {}

/* CHARTS */
/* Axis Labels */
.mode-object .chart .xlabel,
.mode-object .chart .ylabel {
  background: none;
}
.mode-object .chart .xlabel h4.ng-binding,
.mode-object .chart .ylabel h4.ng-binding {
  color: var(--brand-primary-a11y);
  font-style: italic;
  font-size: 12px;
}

/* Tick Labels */
.chart-svg .nv-x text,
.chart-svg .nv-y text {
  fill: var(--gray-700);
  font-size: 12px;
}

/* Y Ticks */
.chart-svg .nv-y line {
  stroke: var(--gray-700);
}

/* Legend Labels */
text.nv-legend-text {
  text-transform: uppercase;
}
.chart-header.ng-scope {
  padding-top: 14px;
}

/* Pie charts */
.nvd3.nv-pie path {
  stroke: var(--gray-950);
}

/* Slice labels */
.nvd3 text {
  fill: var(--gray-700) !important;
}

/* TOOLTIPS */
/* Tooltip */
div.nvtooltip.xy-tooltip {
  border: none;
  background-color: var(--gray-800)
  color: var(--gray-400);
}

/* Legend color */
td div {
  border: none !important;
  border-radius: 50%;
}
circle.nv-legend-symbol {
  r: 4;
}

/*Correct font weight for bold*/
.nvtooltip.xy-tooltip strong,
td.value {
  font-weight: 400 !important;
}
