/* Style Sheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --primary-color: #a770e1;
    --report-background-color: #000000;
    --header-color: #1E69ff;
    --paragraph-color: #dfdfdf;
    --chart-background: #d2d2e6;
    --chart-highlight: #a770e1;
    --font-family: 'Roboto Condensed', sans-serif;

  }

/* Report Background */
.embed-preview,
.mode-embed {
  background-color: var(--report-background-color);
}

/* Report Logo */
.mode-embed .mode-header .logo {
  text-align: right;
  margin-bottom: 2rem;
}

.logo-img {
  max-width: 15rem;
}

/* Report Header */
.mode-embed .mode-header h1 {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Report Header Paragraph */
.mode-embed .mode-header p {
  color: var(--paragraph-color);
  font-weight: 400;
  font-family: var(--font-family);
}

/* Report Text Header */
.editor-chart.mode-object.text-block-container .ql-editor h1, 
.editor-chart.mode-object.text-block-container .ql-editor h2, 
.editor-chart.mode-object.text-block-container .ql-editor h3, 
.editor-chart.mode-object.text-block-container .ql-editor h4, 
.editor-chart.mode-object.text-block-container .ql-editor h5, 
.editor-chart.mode-object.text-block-container .ql-editor h6, 
mode-text .ql-editor h1, 
mode-text .ql-editor h2, 
mode-text .ql-editor h3, 
mode-text .ql-editor h4, 
mode-text .ql-editor h5, 
mode-text .ql-editor h6 {
  color: var(--primary-color);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 700;
}

/* Report Text Paragraph */
.editor-chart.mode-object.text-block-container .ql-editor p, 
.editor-chart.mode-object.text-block-container .ql-editor ol, 
.editor-chart.mode-object.text-block-container .ql-editor ul, 
mode-text .ql-editor p, 
mode-text .ql-editor ol, 
mode-text .ql-editor ul {
  color: var(--paragraph-color);
  font-family: var(--font-family);
  font-weight: 400;
}

/* Chart Top Bar */
.mode-embed .mode-object.editor-chart,
.mode-embed .full-width-report .editor-table { 
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right:4px solid transparent;
}

/* Chart Top Bar for Notebook Charts */
.mode-graphic-container  {
  margin: 0.5rem;
}

/* Chart Background */
.mode-embed .mode-object {
  margin: 0.5rem;
  background: var(--chart-background);
}

.mode-embed .mode-object:hover {
  border-left: 4px solid var(--chart-highlight);
  border-bottom: 4px solid var(--chart-highlight);
  background: #f0f0ff;
}

/* Big Number Header */
.mode-object.big-number .chart-title .in-place-edit-text, 
.embed-preview .mode-object.big-number .chart-title .in-place-edit-text{
  color: var(--header-color);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 700;
}

/* Deprecated Display Table Header */
.mode-object .chart-title, 
.mode-embed .mode-object .chart-title {
  color: var(--header-color);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 700;
}

/* Chart Header */
.editor-table .chart-header .in-place-edit-text, 
.editor-chart .chart-header .in-place-edit-text {
  color: var(--header-color);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 700;
}

/* Notebook Header */
.mode-graphic-title {
  color: var(--header-color);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 700;
}

/* Chart Legend */
.highcharts-legend .highcharts-legend-title text, 
.highcharts-legend .highcharts-legend-item text, 
.highcharts-legend .highcharts-legend-item text tspan {
  font-family: var(--font-family);
}